
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family:'Courier New', Courier, monospace;
    background: #ecf0f3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
}
form{
    border: 2px solid black;
    border-radius: 9px;
    width: auto;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    overflow: hidden;
    background-color:burlywood;
}
label{
    display: inline-block;
    width: 150px;
    padding: 8px;
    margin: 4px;
}
.button2{
    background-color:burlywood;
    color:black;
    padding: 5px 25px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 17px;
    margin: 5px 3px;
}
p{
font-size: 50px;
padding-top: 50px;
font-family:'Courier New', Courier, monospace;
text-transform: capitalize;
}  